@import "tailwindcss";

:root {
  font-family: 'Inter', system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html, body, #root {
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  background-color: #ffffff;
}
